@media screen and (max-width: 574px) {
    .container-css {
        border-radius: 0;
        height: auto
    }

    nav,
    div,
    img {
        padding: 5px 0
    }

    .inner-css {
        margin-top: -14px
    }
}

@media screen and (max-width: 992px) {
    .container-css {
        height: auto
    }

    nav,
    div,
    img {
        padding: 5px 0
    }

    .inner-css {
        margin-top: -14px
    }

    .about_section {
        margin-top: -14px
    }
}

@media screen and (min-width: 992px) {

    nav,
    div,
    a,
    img {
        padding: 2px 0;
        padding-right: 10px
    }
}

@media screen and (min-width: 992px) and (max-width: 2100px) {
    .inner-css {
        margin-left: 40px
    }

    .about_section {
        margin-left: 40px;
        margin-right: 40px
    }
}

@media screen and (max-width: 574px) {
    .titlepage h2 {
        margin-top: -30px
    }

    .inner-tag-detail-css {
        margin-top: -40px
    }
}

@media screen and (max-width: 992px) {
    .titlepage {
        padding-bottom: 0
    }

    .titlepage h2 {
        margin-top: -20px
    }
}

@media screen and (min-width: 700px) and (max-width: 992px) {
    #loader {
        top: 70px;
        right: -76px
    }
}

@media screen and (min-width: 200px) and (max-width: 700px) {
    .searchbar {
        width: 80%;
        height: 40px;
        margin-top: -10px
    }

    .search_input {
        font-size: 14px
    }

    .titlepage {
        margin-top: -35px;
        margin-bottom: 0
    }

    .about_section {
        margin-top: 10px
    }

    .download-btn {
        margin-top: -10px;
        margin-bottom: 10px
    }

    .tag-heading {
        margin-top: 25px;
        margin-bottom: -20px
    }

    .html-intro-heding {
        margin-top: 20px
    }

    #html-intro-para {
        font-size: 13px
    }

    .heading_center {
        padding: 5px
    }

    .html-tags-search {
        margin-bottom: -20px;
        margin-top: 30px
    }

    #loader {
        top: 70px;
        right: -76px
    }
    #header2 {
        background: #191919;
        width: 100%;
        height: 40px;
    }
    
    #header2 p {
        font-size: 15px;
        margin-left: 20px;
        margin-top: 5px;
        color: #fff;
    }
}

@media screen and (min-width: 200px) and (max-width: 996px){
    #news {
        background: #191919;
        color: #fff;
        position: fixed;
        z-index: 2;
        width: 100%;
        margin-left: 0;
        transform: translateY(-60px);
        margin-bottom: 20px;
        font-size: 14px;
    }
}

@media screen and (min-width: 200px) and (max-width: 400px){
    .about_section {
        background: #3D3B40;
        background-size: cover;
        background-position: bottom;
        color: #fff;
        box-shadow: -1px -1px 3px 1px black, 1px 1px 3px 1px #000;
        margin-bottom: 20px;
        width: 300px;
        display: inline-block;
        margin-left: 10%;
    }
}

@media screen and (min-width: 420px) and (max-width: 700px){
    .about_section {
        background: #3D3B40;
        background-size: cover;
        background-position: bottom;
        color: #fff;
        box-shadow: -1px -1px 3px 1px black, 1px 1px 3px 1px #000;
        margin-bottom: 20px;
        width: 300px;
        margin-left: 15%;
    }
}

@media screen and (min-width: 574px) and (max-width: 700px){
    .about_section {
        background: #3D3B40;
        background-size: cover;
        background-position: bottom;
        color: #fff;
        box-shadow: -1px -1px 3px 1px black, 1px 1px 3px 1px #000;
        margin-bottom: 20px;
        width: 300px;
        margin-left: 25%;
    }
}