@import "https://fonts.googleapis.com/css2?family=Poppins&display=swap";

body {
    font-family: 'Poppins', sans-serif
}

html {
    scroll-behavior: smooth
}

.container-css {
    border-radius: 8px;
    height: 80px
}

header {
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 1px 1px 20px 1px #000
}

.custom-div {
    background-color: #009432;
    width: 100%;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: flex-end
}

.btn-css {
    padding-right: 40px;
    padding-left: 40px
}

.about_section {
    background: #2f3640;
    background-size: cover;
    background-position: bottom;
    color: #fff;
    box-shadow: -1px -1px 3px 1px black, 1px 1px 3px 1px #000;
    transition: transform .1s;
    transition-delay: 0
}

.about_section:hover {
    transform: perspective(800px) translateZ(10px)
}

.about-css {
    background: #2f3640;
    background-size: cover;
    background-position: bottom;
    margin-top: 10px
}

.about-javascript {
    background: #2f3640;
    background-size: cover;
    background-position: bottom;
    margin-top: 10px
}

.about-php {
    background: #2f3640;
    background-size: cover;
    background-position: bottom;
    margin-top: 10px
}

.about-sql {
    background: #2f3640;
    background-size: cover;
    background-position: right;
    margin-top: 10px
}

.about_section .heading_container {
    margin-bottom: 45px
}

.about_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.about_section .img-box img {
    max-width: 100%
}

.about_section .detail-box h3 {
    font-weight: 700
}

.about_section .detail-box p {
    margin-top: 15px
}

.heading_container a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #f24106;
    color: #fff;
    border-radius: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: none;
    margin-top: 15px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 2px
}

.about_section .detail-box a:hover {
    background-color: #007fa4
}

.heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.heading_container h2 {
    position: relative;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: -60px
}

.heading_container h2 span {
    color: #00bbf0
}

.heading_container p {
    margin-top: 10px;
    margin-bottom: 0
}

.heading_container.heading_center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center
}

.layout_padding {
    padding: 90px 0 10px
}

#progress {
    background-color: #7D0A0A;
    height: -1px;
    width: 0;
}

.titlepage {
    padding-bottom: 10px
}

.titlepage h2 {
    font-size: 25px;
    color: #000;
    line-height: 40px;
    font-weight: bolder;
    padding: 0;
    display: inline-block;
    text-transform: uppercase
}

.blue_light {
    color: #f4a700
}

.domain {
    background: #fff;
    padding-top: 30px
}

.searchbar {
    height: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-color: #e8e8ed;
    border-radius: 50px;
    padding: 10px 30px;
    display: flex
}

.search_input {
    color: #010101;
    border: 0;
    outline: 0;
    background: #e8e8ed;
    width: 100%;
    line-height: 40px;
    font-size: 17px
}

.search_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fa0;
    font-size: 20px;
    text-decoration: none
}

.text_align_center {
    text-align: center
}

.html-tag {
    color: red
}

.html-attr {
    color: #ff0
}

.tag-body {
    color: #fff
}

.tag-position {
    margin-left: 50px;
    margin-bottom: 30px
}

.all-html-tags code a:hover {
    z-index: 0
}

.tag-heading {
    margin-top: 15px;
    margin-bottom: -30px
}

.download-btn {
    margin-top: 20px;
    margin-bottom: 20px
}

.inner-css,
img {
    border-radius: 10px
}

.html-tags-search {
    margin-top: 20px
}

#mainContent {
    display: none
}

#loader {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 200px;
    width: 200px
}

#loader img {
    width: 200px
}

.coming_soon {
    margin-top: 35vh;
    margin-bottom: 35vh
}


.yt-video-html-box {
    position: relative;
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#header2 {
    background: #191919;
    width: 100%;
    height: 40px;
}

#header2 p {
    margin-left: 20px;
    margin-top: 7px;
    color: #fff;
}